.header {
  padding: 3rem 0 3rem;
}

.header h1 {
  margin-bottom: 0;
}

.header p {
  color: #666666;
  font-size: .85rem;
  font-style: italic;
  padding-left: 3.5rem;
  letter-spacing: .035em;  
}

.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-Item {
  color: #999999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-Item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}